@import
url('https://fonts.googleapis.com/css2?family= IBM+Plex+Mono:wght@400;500;700 & display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-white: #fff;
    --color-pink: #d12f7a;
    --color-black: #100; 
    --color-blue: #073fcc;
    --color-purple: #5f01ac; 
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    font-family: 'IBM Plex Mono', monospace;
}
#person{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-black);
}
.person-content{
    height: 100%;
    width: 50%;
    background: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.person-content div h1{
    padding: 0px 4px;
    color: transparent;
    
    width: fit-content;
    position: relative;
    
    font-size: 4.5rem;
    line-height: 6rem;
    
    animation: written_text  .5s ease forwards;
}
.person-content div h1:nth-child(1){
    animation-delay: 1s;
}
.person-content div h1:nth-child(2){
    animation-delay: 2s;
}
.person-content div h1:nth-child(3){
    animation: written_text_name .5s ease forwards;
    animation-delay: 3s;
}
.person-content div h1 span{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 0px;
    height: 100%;
    background: var(--color-pink);

    animation: written_text_box .9s ease;
    animation-delay: .5s;
}
.person-content h1 :nth-child(1) span{
animation-delay: .5s;
}
.person-content h1 :nth-child(2) span{
animation-delay: .1.5s;
}
.person-content h1 :nth-child(3) span{
    animation-delay: .2.5s;
}
.person-name{
    margin-top: 11rem;
}
.stacks-content{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    margin-top: 6rem;
}
.stacks img{
    width: 30px;
    height: 30px;
}
.stacks-contents h3{
    color: var(--color-white);
    font-size: 1.15rem;

    margin-left: 20px;
}
.stacks{
    display: flex;
    align-items: center;
    
    flex-direction: row;
}
.stacks ul li{
    display: flex;
    align-items: center;

    position: relative;
    
    margin: 10px;
    padding: 10px;
            
    list-style: none;
}
.stacks ul li img{
    width: 30px;
    height: auto;
    
    transition: transform .3s ease;
}
.stacks ul li div img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.stacks ul li div:hover::after{
    content: attr(data) ;
    position: absolute;
    top: 50px;
    left: 10px;

    width: 20px;
    height: 20px;

    color: var(--color-white);
}
.person-background{
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;

    background-image: url(./img/foto2.jpg);
    background-size: cover;
    background-position: top center;
}
.person-background::after{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background:
        linear-gradient(200deg, transparent 30%, var(--color-black)),
        linear-gradient(100deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black))
}
.links img{
    width: 30px;
    height: 30px;
}

@keyframes written_text{
    100%{
        color: var(--color-white);
    }
}
@keyframes written_text_name{
    100%{
        color: var(--color-blue);
    }
}
@keyframes written_text_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}